.btn {
  color: $white;
  text-transform: uppercase;
  font-family: $sans;
  font-weight: 700;
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
  border: 0;
}

.btn-primary {
  background: linear-gradient(to right, C0L0R, palette(C0L0R, dark));
  &:hover {
    background: linear-gradient(to right, palette(C0L0R, dark), palette(C0L0R, darker));
  }
}
