.btn {
  color: $white;
  text-transform: uppercase;
  font-family: $sans;
  font-weight: 700;
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
  border: 0;
}

.btn-primary {
  background: linear-gradient(to right, palette(COLOR), palette(COLOR, dark));
  &:hover {
    background: linear-gradient(to right, shade(palette(COLOR), 90), shade(palette(COLOR, dark), 80));
  }
}
