// rethink these - they could live someplace better, if at all

html { box-sizing: border-box; }
* { box-sizing: inherit; }

section{
  padding-top: 80px;
  padding-bottom: 80px;
}

a{
  text-decoration: none;
}

.full-width {
  width: 100%;
}
