html { box-sizing: border-box; }
* { box-sizing: inherit; }

body {
  font: 400 16px $sans;
  @include typographic();
}



.inverted {
  padding: 4em 2em;
  margin-top: 4em;
  margin-bottom: 4em;
  background: $black;
  color: $white;
  text-align: center;
  strong,
  em {
    color: palette(primary);
  }
}
