// Colors

// Gray Scale
$gray__1: #e5e5e5;
$gray__2: #ccc;
$gray__3: #b3b3b3;
$gray__4: #999;
$gray__5: #808080;
$gray__6: #666;
$gray__7: #4d4d4d;
$gray__8: #333;
$gray__9: #1a1a1a;

// Pantone Cool Gray Scale
$cool-gray__1: #dad9d7;
$cool-gray__2: #d1d0ce;
$cool-gray__3: #c8c8c8;
$cool-gray__4: #bcbcbc;
$cool-gray__5: #b2b2b2;
$cool-gray__6: #a8a8aa;
$cool-gray__7: #98999b;
$cool-gray__8: #898b8e;
$cool-gray__9: #76777b;
$cool-gray__10: #63656a;
$cool-gray__11: #54565b;

// Pantone Warm Gray Scale
$warm-gray__1: #d7d2cb;
$warm-gray__2: #ccc4bc;
$warm-gray__3: #c0b8b0;
$warm-gray__4: #b5ada6;
$warm-gray__5: #ada29a;
$warm-gray__6: #a69c95;
$warm-gray__7: #968c83;
$warm-gray__8: #8d827a;
$warm-gray__9: #847870;
$warm-gray__10: #7a6e67;
$warm-gray__11: #6f625a;

// Pantone Blacks
$black__2: #332e20;
$black__3: #212721;
$black__4: #30261d;
$black__5: #3f2b2f;
$black__6: #101820;
$black__7: #3d3935;
