<!doctype html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png?v=vMM8vay4wG">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon-180x180.png?v=vMM8vay4wG">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png?v=vMM8vay4wG" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-194x194.png?v=vMM8vay4wG" sizes="194x194">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png?v=vMM8vay4wG" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/img/favicon/android-chrome-192x192.png?v=vMM8vay4wG" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png?v=vMM8vay4wG" sizes="16x16">
    <link rel="manifest" href="/assets/img/favicon/manifest.json?v=vMM8vay4wG">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=vMM8vay4wG" color="#e76727">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico?v=vMM8vay4wG">
    <meta name="msapplication-TileColor" content="#e76727">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png?v=vMM8vay4wG">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml?v=vMM8vay4wG">
    <meta name="theme-color" content="#faf9f2">
    <title>Page Title</title>
    <script src="/assets/_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/app.min.css">
  </head>
  <body>
    <header>
      <nav role="navigation" aria-labelledby="nav--primary">
        <ul class="nav--primary">
          <li><a href="/"><img class="logo--main" src="/assets/img/logo.png" alt="Company Name"></a></li>
          <li><a href="">Page Name</a></li>
          <li><a href="">Page Name</a></li>
          <li><a href="">Page Name</a></li>
          <li><a href="">Page Name</a></li>
          <li><a href="">Page Name</a></li>
        </ul>
        <a class="menu--toggle" href="#">Menu</a>
      </nav>
    </header>
    <main>
