<!doctype html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">

    <title>Page Title</title>
    <link rel="stylesheet" href="/assets/_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.min.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav--primary">
          <li><a href="">Menu Item</a></li>
          <li><a href="">Menu Item</a></li>
          <li><a href="">Menu Item</a></li>
          <li><a href="">Menu Item</a></li>
        </ul>
    </header>
    <main>
